@model IEnumerable<Pofo.Models.ServicePage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Servis Page Main</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                   ServisP Main Slogan
                </th>
                <th>
                    Overview Video Title
                </th>
                <th>
                    Overview Video Link
                </th>
                <th>
                   Overview Video Background Photo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Languages.LangName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <i class="fas fa-eye">   @Html.ActionLink("Details", "Details", new { id = item.Id }) </i>
                    </td>
                    <td>
                        <i class="fas fa-eye">   @Html.ActionLink("Details", "Details", new { id = item.Id }) </i>
                    </td>
                    <td>
                        <i class="fas fa-eye">   @Html.ActionLink("Details", "Details", new { id = item.Id }) </i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OverViewBgPic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Languages.LangName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <!-- /.col-lg-12 -->
</div>