@model Pofo.Models.SingleBlog

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SingleBlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntroPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntroPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockVoteText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockVoteText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockVoteAutHor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockVoteAutHor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instagram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterCenterPhotoText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterCenterPhotoText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftPhotoText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftPhotoText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloggCategories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloggCategories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Languages.LangName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Languages.LangName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
