<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ADMIN PANEL</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Manage/Public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Areas/Manage/Public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Areas/Manage/Public/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Areas/Manage/Public/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Areas/Manage/Public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">



                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="@Url.Action("index" ,"dashboard")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("index" ,"agency")"><i class="fab fa-amilia"></i>  Agency</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ShowMessage" ,"Messages", new { Area=""})"><i class="fab fa-empire"></i>  Messages</a>
                        </li>
                        <li>
                            <a href="@Url.Action("index" ,"languages")"><i class="fas fa-language"></i> Languages</a>

                        </li>
                        <li>
                            <a href="#"><i class="fas fa-camera"></i>   Photos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("index" ,"sections")">Sections</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"photos")">Photos</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="#"><i class="fas fa-pencil"></i>   Blog<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("index" ,"blogpages")">Blog Main Page</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"aboutmanage")">About Admin in Single Blog</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"singleblogs")">Edit Blog(All blogs) </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"blogphotos")">Blog Photos </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"bloggcategories")">Blog's Categories</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"singleblogs")">Create Blog</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"managecomments")">Comments</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"tags")">Create Tag</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"blogtags")">Blog~~Tags</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-columns"></i>BoxedMetro<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("index" ,"BoxedMetroManage")">MainPage</a>
                                </li>

                            </ul>

                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i>Instagram's Posts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("index" ,"instaposts")">Instagram's Posts</a>
                                </li>

                            </ul>

                        </li>
                        <li>
                            <a href="#"><i class="fas fa-info-circle"></i>About Page<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("index" ,"AboutPages")">Main Page</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"honornumbers")">Honor Numbers</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("index" ,"People")">People</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"Creativpeoples")">Creativ People</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fas fa-home"></i> Departments<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("index" ,"departments")">Departments</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"depscards")">Departmen Cards</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"depscardsphotos")">Departmen Card's Photos</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("index" ,"team")"><i class="fas fa-user-plus"></i> Team</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-phone"></i>Contact Us Page<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("index" ,"contactuspage")">Main Page</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index" ,"PlanProjects")">Right SideB</a>
                                </li>

                            </ul>

                        </li>
                        <li>
                            <a href="#"><i class="fas fa-eye"></i>Services Page<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("index" ,"servicepages")">Main Page</a>
                                </li>


                            </ul>

                        </li>
                        <li>
                            <a href="@Url.Action("index" ,"newprojects", new { Area="Manage"})"><i class="fab fa-empire"></i>New Projects</a>
                        </li>


                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/Manage/Public/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Manage/Public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Areas/Manage/Public/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Areas/Manage/Public/vendor/raphael/raphael.min.js"></script>
    <script src="~/Areas/Manage/Public/vendor/morrisjs/morris.min.js"></script>
    <script src="~/Areas/Manage/Public/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Manage/Public/dist/js/sb-admin-2.js"></script>
</body>
</html>
