@model Pofo.Models.BoxedMetroPage

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BoxedMetroPage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainSlogan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainSlogan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Languages.LangName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Languages.LangName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
