@model IEnumerable<Pofo.Models.BloggCategories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Blog's Categories</h1>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table  table-striped">
            <tr>
                <th>
               Category's Name
                </th>
                <th>
                   Laneguage
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Languages.LangName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

</div>